/* シークバー、ボリュームバー */
#audio_container {
    --seek-before-width: 0%;
    --volume-before-width: 100%;
    --buffered-width: 0%;
}
input[type="range"] {
    /* position: relative; */
    margin: 0;
    padding: 0;
    height: 1rem;
    /* margin: 30px 0 20px 0; */
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, rgba(0, 192, 96, 0.6) var(--buffered-width), rgba(0, 192, 96, 0.2) var(--buffered-width));
}
input[type="range"]::-webkit-slider-thumb {
    /* position: relative; */
    margin: -7px 0 0 0;
}
#seekbar {
    width: 100%;
}
#volumebar::-webkit-slider-runnable-track {
    background: rgba(0, 192, 96, 0.6);
}




/* flex audio_container */
#audio_container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#seekbar_container {
    flex-basis: 100%;
    text-align: center;
}
#audio_info {
    flex-basis: 30%;
}
#player_buttons {
    flex-basis: 40%;
    text-align: center;
}
#volume_container {
    flex-basis: 30%;
    text-align: right;
}
/* flex seekbar_container */
#seekbar_container {
    display: flex;
}

#audio_info {
    overflow: hidden;
}

/* カラーテーマ */
:root {
    color-scheme: dark;
}
body {
    background-color: black;
    color: #cccccc;
}
button {
    background-color: #444444;
}
input[type="button"] {
    background-color: #444444;
}
input {
    /* accent-color: #009b00; */
    accent-color: hsl(120, 100%, 31%);
}
